# 00. 데이터베이스 기본 개념

GC  
2024-08-22

# 1. 기본 용어

`1` 데이터베이스 : 일정한 체계 속에 저장된 데이터의 집합

-   데이터는 보통 `Table`(표)단위로 저장된다.
-   하나의 데이터베이스 안에는 여러 테이블이 저장되어있다.
-   또한, 데이터베이스를 여러 개를 만든다면, 대용량 데이터를 체계적으로
    관리할 수 있다.

`2` DBMS : 데이터베이스 관리 시스템

-   DB를 관리하기 위해 사용하는 프로그램

-   oracle, mysql등 다양한 DBMS가 존재함.

`3` SQL : DBMS에 명령을 내리기 위해 사용하는 언어

# 2. MySQL 설치(Windows)

`1` [설치사이트](https://dev.mysql.com/downloads/windows/installer/)에서
최신 버전 다운 가능

`2` 그러나 본 강의에서는 8.0.37을 사용$\to$ [강의 때 쓸
버전](https://downloads.mysql.com/archives/installer/)

`3` Custom 을 선택하고, Next 버튼 클릭

<center>

<img src = "1.png" width = 400>

</center>

`4` MySQL Server, MySQL Workbench, MySQL Shell을 하나씩 클릭하면서
오른쪽 화살표 버튼을 클릭하여 다음과 같이 설치할 Product로 이동

<center>

<img src = "2.png" width = 400>

</center>

`5` Execute 버튼 클릭

`6` 그 후 부터는 그냥 쭉쭉 하면됨. 그러다 마지막에 체크 저렇게 한 개만
하기

<center>

<img src = "3.png" width = 400>

</center>

------------------------------------------------------------------------

# 3. MySQL 서버 접속(windows)

`1` + 버튼 클릭

<center>

<img src = "4.png" width = 400>

</center>

`2` 접속이름 설정

-   root 사용자로 접속

-   MySQL 서버가 있는 위치는 127.0.0.1(내 컴퓨터를 의미), MySQL 서버는
    내 컴퓨터의 3306번 포트를 사용한다는 뜻

<center>

<img src = "5.png" width = 500>

</center>

`3` 접속 후 `Server Status` 클릭

-   아래와 같은 오류가 발생할 경우 다음과 같이 해결

<center>

<img src = "6.png" width = 200>

</center>

1.  `Win + R`을 눌러 `services.msc` 입력

2.  그후, `MySQL 80`을 찾아 우클릭 후 시작 $\to$ 그래도 오류가 발생..

3.  `Win + R`을 눌러 `control intl.cpl,,3` 입력

4.  `관리자 옵션` 탭에서 `시스템 로캘 변경` 클릭

5.  Beta: 세계 언어 지원을 위해 Unicode UTF-8 사용 항목을 체크 후 ‘확인’
    버튼을 클릭

`4` 재부팅 후…. 오 이제 잘 된다…

------------------------------------------------------------------------

# 4. DB 생성

`1` query 창에 다음과 같이 입력

``` sql
create database copang_main # 1. DB 생성
```

`2` 그후 스키마 새로 고침

<img src = "8.png" width = 200>

`3` 오 잘 반영 되었음