---
title : "01. SELECT"
author : "GC"
date : "02/13/25"
---

# Excercise

## 1. 평균 일일 대여 요금 구하기

```sql
SELECT 
    ROUND(AVG(DAILY_FEE),0) AS AVERAGE_FEE
FROM CAR_RENTAL_COMPANY_CAR
WHERE CAR_TYPE = 'SV'

```

## 2.  재구매가 일어난 상품과 회원 리스트 구하기

```SQL
SELECT 
    USER_ID, PRODUCT_ID
FROM 
    ONLINE_SALE
GROUP BY USER_ID, PRODUCT_ID
HAVING COUNT(*) > 1
ORDER BY USER_ID, PRODUCT_ID DESC
```

## 3. 역순 정렬하기

```SQL
SELECT
    NAME, DATETIME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID DESC
```

## 4. 아픈 동물 찾기

```SQL
SELECT
    ANIMAL_ID, 
    NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION = 'SICK'
ORDER BY ANIMAL_ID
```

## 5. 어린 동물 찾기

```SQL
SELECT
    ANIMAL_ID, 	NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION != 'Aged'
ORDER BY ANIMAL_ID
```

## 6. 동물의 아이디와 이름

```SQL
SELECT
    ANIMAL_ID, NAME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID
```

## 7. 여러 기준으로 정렬하기

```SQL
SELECT
    ANIMAL_ID, NAME,
    DATETIME
FROM ANIMAL_INS
ORDER BY NAME, DATETIME DESC
```

## 8. 상위 N개 조회

```SQL
SELECT
    NAME
FROM ANIMAL_INS
ORDER BY DATETIME
LIMIT 1
```

## 9. 조건에 맞는 회원 수 구하기

```SQL
SELECT
    COUNT(USER_ID) AS USERS
FROM USER_INFO
WHERE JOINED LIKE '2021%'
AND AGE BETWEEN 20 AND 29
```

## 10. 3월에 태어난 여성 회원 목록 추출($\star\star\star$)

```SQL
SELECT 
    MEMBER_ID, 
    MEMBER_NAME,
    GENDER,
    DATE_FORMAT(DATE_OF_BIRTH, '%Y-%m-%d') AS DATE_OF_BIRTH
FROM MEMBER_PROFILE
WHERE MONTH(DATE_OF_BIRTH) = 3 
    AND GENDER = 'W'
    AND TLNO IS NOT NULL
ORDER BY MEMBER_ID
```

## 11. 서울에 위치한 식당 목록 출력하기

```SQL
SELECT
    A.REST_ID,
    A.REST_NAME,
    A.FOOD_TYPE,
    A.FAVORITES,
    A.ADDRESS,
    ROUND(AVG(B.REVIEW_SCORE),2) AS SCORE
FROM REST_INFO AS A INNER JOIN REST_REVIEW AS B
    ON A.REST_ID = B.REST_ID
GROUP BY
    A.REST_ID
HAVING
    A.ADDRESS LIKE '서울%'
ORDER BY
    SCORE DESC, A.FAVORITES DESC
```

## 12. 흉부외과 또는 일반외과 의사 목록 출력하기

```sql
SELECT
    DR_NAME,
    DR_ID,
    MCDP_CD,
    DATE_FORMAT(HIRE_YMD,'%Y-%m-%d')
FROM
    DOCTOR
WHERE 
    MCDP_CD LIKE 'CS' OR MCDP_CD LIKE 'GS'
ORDER BY
    HIRE_YMD DESC, DR_NAME ASC;
```

## 13. 과일로 만든 아이스크림 고르기

```SQL
SELECT
    F.FLAVOR
FROM
    FIRST_HALF AS F JOIN ICECREAM_INFO AS I
        ON F.FLAVOR = I.FLAVOR
WHERE
    F.TOTAL_ORDER > 3000 AND  I.INGREDIENT_TYPE LIKE "fruit%"
ORDER BY
    F.TOTAL_ORDR DESC;

```

## 14. 강원도에 위치한 생산공장 목록 출력하기

```SQL
SELECT
    FACTORY_ID,
    FACTORY_NAME,
    ADDRESS
FROM 
    FOOD_FACTORY
WHERE
    ADDRESS LIKE '강원%'
ORDER BY
    FACTORY_ID ASC;
```

## 15. 인기있는 아이스크림

```SQL
SELECT
    FLAVOR
FROM 
    FIRST_HALF
ORDER BY
    TOTAL_ORDER DESC, SHIPMENT_ID;
```

## 16. 12세 이하인 여자 환자 목록 출력하기 ($\star\star\star$)

```SQL
SELECT
    PT_NAME,
    PT_NO,
    GEND_CD,
    AGE,
    COALESCE(TLNO, 'NONE') AS TLNO
FROM
    PATIENT
WHERE AGE <= 12 AND GEND_CD = 'W'
ORDER BY
    AGE DESC, PT_NAME ASC;
```

## 17. 조건에 맞는 도서 리스트 출력하기

```SQL
SELECT
    BOOK_ID,
    DATE_FORMAT(PUBLISHED_DATE, "%Y-%m-%d") AS 	PUBLISHED_DATE
FROM
    BOOK
WHERE
    YEAR(PUBLISHED_DATE) = 2021
        AND CATEGORY = '인문'
ORDER BY
    PUBLISHED_DATE ASC;
```

## 18. 조건에 부합하는 중고거래 댓글 조회하기($\star\star\star$)

```sql
SELECT
    B.TITLE,
    B.BOARD_ID,
    R.REPLY_ID,
    R.WRITER_ID,
    R.CONTENTS,
    DATE_FORMAT(R.CREATED_DATE, '%Y-%m-%d') AS CREATED_DATE
FROM
    USED_GOODS_BOARD AS B
        INNER JOIN USED_GOODS_REPLY AS R
            ON B.BOARD_ID = R.BOARD_ID
WHERE 
    B.CREATED_DATE LIKE '2022-10%'
ORDER BY R.CREATED_DATE, B.TITLE;
```

## 19. 오프라인/온라인 판매데이터 통합(다시 풀기)

```SQL
SELECT DATE_FORMAT(N.SALES_DATE,'%Y-%m-%d') AS SALES_DATE , N.PRODUCT_ID, N.USER_ID, N.SALES_AMOUNT
FROM ONLINE_SALE AS N
LEFT JOIN OFFLINE_SALE AS F
ON N.PRODUCT_ID = F.PRODUCT_ID  AND N.SALES_DATE = F.SALES_DATE
WHERE DATE_FORMAT(N.SALES_DATE , '%Y-%m') = '2022-03'

UNION ALL

SELECT DATE_FORMAT(F.SALES_DATE,'%Y-%m-%d') AS SALES_DATE , F.PRODUCT_ID, NULL AS USER_ID, F.SALES_AMOUNT
FROM ONLINE_SALE AS N
RIGHT JOIN OFFLINE_SALE AS F
ON N.PRODUCT_ID = F.PRODUCT_ID   AND N.SALES_DATE = F.SALES_DATE
WHERE DATE_FORMAT(F.SALES_DATE , '%Y-%m') = '2022-03' 

ORDER BY SALES_DATE ASC, PRODUCT_ID ASC, USER_ID ASC;
```

## 20. PYTHON 개발자 찾기

```SQL
SELECT
    ID,
    EMAIL,
    FIRST_NAME,
    LAST_NAME
FROM
    DEVELOPER_INFOS
WHERE
    'PYTHON' IN (SKILL_1, SKILL_2, SKILL_3)
ORDER BY
    ID;
```