---
title : "01. SELECT"
author : "GC"
date : "02/06/25"
---

아래 문제는 프로그래머스 `sql 고득점 kit` 문제입니다.

## 1. 평균 일일 대여 요금 구하기

```SQL
SELECT 
    ROUND(AVG(DAILY_FEE),0) AS AVERAGE_FEE
FROM CAR_RENTAL_COMPANY_CAR
WHERE CAR_TYPE = 'SV'

```

## 2.  재구매가 일어난 상품과 회원 리스트 구하

```SQL
SELECT 
    USER_ID, PRODUCT_ID
FROM 
    ONLINE_SALE
GROUP BY USER_ID, PRODUCT_ID
HAVING COUNT(*) > 1
ORDER BY USER_ID, PRODUCT_ID DESC
```

## 3. 역순 정렬하기

```SQL
SELECT
    NAME, DATETIME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID DESC
```

## 4. 아픈 동물 찾기

```SQL
SELECT
    ANIMAL_ID, 
    NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION = 'SICK'
ORDER BY ANIMAL_ID
```

## 5. 어린 동물 찾기

```SQL
SELECT
    ANIMAL_ID, 	NAME
FROM ANIMAL_INS
WHERE INTAKE_CONDITION != 'Aged'
ORDER BY ANIMAL_ID
```

## 6. 동물의 아이디와 이름

```SQL
SELECT
    ANIMAL_ID, NAME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID
```

## 7. 여러 기준으로 정렬하기

```SQL
SELECT
    ANIMAL_ID, NAME,
    DATETIME
FROM ANIMAL_INS
ORDER BY NAME, DATETIME DESC
```

## 8. 상위 N개 조회

```SQL
SELECT
    NAME
FROM ANIMAL_INS
ORDER BY DATETIME
LIMIT 1
```

## 9. 조건에 맞는 회원 수 구하기

```SQL
SELECT
    COUNT(USER_ID) AS USERS
FROM USER_INFO
WHERE JOINED LIKE '2021%'
AND AGE BETWEEN 20 AND 29
```

## 10. 3월에 태어난 여성 회원 목록 추출($\star\star\star$)

```SQL
SELECT 
    MEMBER_ID, 
    MEMBER_NAME,
    GENDER,
    DATE_FORMAT(DATE_OF_BIRTH, '%Y-%m-%d') AS DATE_OF_BIRTH
FROM MEMBER_PROFILE
WHERE MONTH(DATE_OF_BIRTH) = 3 
    AND GENDER = 'W'
    AND TLNO IS NOT NULL
ORDER BY MEMBER_ID
```